/* Font from Google fonts*/
@import url('https://fonts.googleapis.com/css?family=Montserrat');
body{
    font-family: 'Montserrat'
}

.title  {color: white;
        font-size: 100px;
        padding-top: 250px;
        }

.bio    {color: white;
        font-size: 30px;
        padding-bottom: 30px;
        }

.row {margin-bottom: 20px
    }

    /* Styling to be identical for all restaurants */
#restaurant-details {background-color: rgb(167, 198, 236)
                    }

#restaurant-image {background-color: white;
                    padding-left: 50px;
                    margin-top: 30px;
                    margin-bottom: 30px;
                    }

#restaurant-description {background-color: white;
                          padding-left: 30px;
                          padding-right: 50px;
                          padding-top:40px;
                          margin-top: 30px;
                          margin-bottom: 30px;
                          text-align: left;
                          letter-spacing: normal;
                          line-height: normal;
                          }
                          h2{
                            line-height: 250%;
                            }

.contact {background: black;
    }

.social-logo {width: 100px;
}

body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("bg_image2.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#navbar {
  position: fixed;
  top: 0px;
  width: 100%;
}
