body {
      font-family: 'Source Code Pro', monospace;
}

.title  {color: white;
        font-size: 100px;
        padding-top: 250px;
        }

.bio    {color: white;
        font-size: 30px;
        padding-bottom: 30px;
        }

.row {margin-bottom: 20px
    }

#restaurant1 {background-color: white;
              padding: 10px
    }

#restaurant2 {background-color: #F8F8F8;
              padding: 10px;
        }

#restaurant3 {background-color: white;
              padding: 10px;
            }

#restaurant4 {background-color: #F8F8F8;
              padding: 10px;
                }

#restaurant5 {background-color: white;
              padding: 10px;
                    }

#restaurant6 {background-color: #F8F8F8;
              padding: 10px
                        }


.social-logo {width: 50px;
              border-radius: 20px
}

body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("bg_image2.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#navbar {
  position: fixed;
  top: 0px;
  width: 100%;
}
